/*Styling for the cart*/

/*makes every other row grey*/
tr:nth-child(even){
	background-color: #f2f2f2
}

/*positioning of the table and the cart buttons*/
#cartTable{
	width: 80%;
	margin-left: 10%;
}

#cartHeading{
	margin-left: 45%;
}

#subtotal{
	margin-left: 80%;
}

#clearCart{
	margin-left: 83%;
	background-color: #f2f2f2;
	border: none;
	border-radius: 2px;
}

#checkout{
	margin-left: 80%;
	background-color: #f2f2f2;
	border: none;
	border-radius: 2px;
}

button{
	background-color: #f2f2f2;
	border: none;
	border-radius: 2px;
}

a#checkout{
	color: #5a5a5a !important;
}

/*styling for "your shoppping cart is empty"*/
#empty{
	background-color: #f2f2f2;
	color: #5a5a5a;
	padding-top: 10px;
	padding-bottom: 30px;
	margin-right: 25%;
	margin-left: 25%;
	margin-top: 5%;
	margin-bottom: 10%;
	border-radius: 10px;
}

.cartEmpty{
	margin-left: 30%;
}



#goShop{
	margin-left: 42%;
	color: #5a5a5a;
}

#placed{
	background-color: #f2f2f2;
	color: #5a5a5a;
	padding-top: 10px;
	padding-bottom: 30px;
	margin-right: 25%;
	margin-left: 25%;
	margin-top: 5%;
	margin-bottom: 10%;
	border-radius: 10px;
}

.cartEmpty{
	margin-left: 30%;
}



#thanks{
	margin-left: 15%;
	margin-right: 15%;
	color: #5a5a5a;
}
