#productRow{
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 10%;
}

.productHeader {
	font-weight: bold;
}

#facts {
	background-color: #f2f2f2;
}

#nutrHeader{
	margin-left: 30%;
}

#productCalories{
	margin-left: 40%;
}

#productFat{
	margin-left: 40%;
}

#productProtein{
	margin-left: 40%;
}

#productSugar{
	margin-left: 40%;
}

#productCarbs{
	margin-left: 40%;
}