/*Styling used for when a product on it's own page is clicked*/

/*transparent black background*/ 
#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

/*position of the image on the overlay*/
#overlay img {
 margin-top: 10%; 
}

/*color of text on the overlay*/
#overlay p {
 color:white; 
}
